body{
    background: black;
    color: white;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
  
} 

p{
    line-height: 1.7;
    }

article + article {
    margin-top: 3rem;
    border-top: 1px solid #c5c5c5;
    padding-top: 3rem;
}